# mkdocs.yml
site_name: aussiebb
theme:
  name: "material"

plugins:
- search:
- mkdocstrings:
    default_handler: python
    handlers:
      python:
        rendering:
          show_source: true
    watch:
    - "aussiebb/"

nav:
  - "Home": README.md
  - "API Documentation": aussiebb.md
