[tool.poetry]
name = "pyaussiebb"
version = "0.0.15"
description = "Aussie Broadband API module"
authors = ["James Hodgkinson <james@terminaloutcomes.com>"]
license = "MIT"
readme = "README.md"

homepage = "https://github.com/yaleman/pyaussiebb"
repository = "https://github.com/yaleman/pyaussiebb"
documentation = "https://yaleman.github.io/pyaussiebb/"

keywords = [
    "api",
    "aussie",
    "broadband",
    "internet",
]

classifiers=[
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

packages = [
    { include = "aussiebb" }
]

[tool.poetry.urls]
"Issues" = "https://github.com/yaleman/pyaussiebb/issues/"

[tool.poetry.dependencies]
python = "^3.9"
requests = "^2.27.1"
aiohttp = "^3.8.1"
pydantic = "^1.9.0"

[tool.poetry.dev-dependencies]
pylint = "^2.13.7"
mypy = "^0.950"
black = "^22.3.0"
pytest = "^7.1.2"
types-requests = "^2.27.20"
mkdocstrings = "^0.18.1"
mkdocs-material = "^8.2.12"
mkdocs = "^1.3.0"
requests-testing = "^0.2.0"
pylint-pydantic = "^0.1.4"
pytest-asyncio = "^0.18.3"
pytest-aiohttp = "^1.0.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
