---
name: ruff linting

"on":
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - name: Running tests
        run: |
            python -m pip install --quiet --no-cache-dir --upgrade uv
            uv run ruff check aussiebb tests
